@model ESF.Core.Services.ParticipantDetailsModel

@{
    ViewBag.Title = "Create Participant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Participant</h2>

@using (Html.BeginForm("SaveParticipant", "Participant"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Personal Details</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
