@model ESF.Core.Services.ParticipantDetailsEditModel

@{
    ViewBag.Title = "Edit Personal Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Personal Details</h2>

@using (Html.BeginForm("UpdateParticipant", "Participant"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PersonalDetailsModel</legend>

        <div class="editor-field">
            @Html.HiddenFor(model => model.ParticipantId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName, "First Name")
        </div>
        <div class="editor-field">
			@Html.DisplayFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName, "Last Name")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth, "Date of Birth")
		</div>
		<div class="editor-field">
			@Html.DisplayFor(model => model.DateOfBirth)
		</div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
			@Html.DisplayFor(model => model.Gender)
        </div>
		
        <div class="editor-label">
            @Html.LabelFor(model => model.JamatkhanaId, "Jamatkhana")
        </div>
        <div class="editor-field">
            @Html.DropDownList("JamatkhanaId", (IEnumerable<SelectListItem>)ViewBag.Jamatkhanas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobileNumber, "Mobile Number")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileNumber)
            @Html.ValidationMessageFor(model => model.MobileNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomePhoneNumber, "Home Phone Number")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomePhoneNumber)
            @Html.ValidationMessageFor(model => model.HomePhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine1, "Address Line 1")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine1)
            @Html.ValidationMessageFor(model => model.AddressLine1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine2, "Address Line 2")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine2)
            @Html.ValidationMessageFor(model => model.AddressLine2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine3, "Address Line 3")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine3)
            @Html.ValidationMessageFor(model => model.AddressLine3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine4, "Address Line 4")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine4)
            @Html.ValidationMessageFor(model => model.AddressLine4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Town, "Town")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Town)
            @Html.ValidationMessageFor(model => model.Town)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountyId, "County")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CountyId", (IEnumerable<SelectListItem>)ViewBag.Counties)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountryId, "Country")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CountryId", (IEnumerable<SelectListItem>)ViewBag.Countries)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postcode, "Postcode")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postcode)
            @Html.ValidationMessageFor(model => model.Postcode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HasDisability, "Do you have a disability?")
        </div>
        <div class="editor-field">
            @Html.DropDownList("HasDisability", (IEnumerable<SelectListItem>)ViewBag.YesNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsInterestedInVolunteering, "Are you interested in volunteering?")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsInterestedInVolunteering)
            @Html.ValidationMessageFor(model => model.IsInterestedInVolunteering)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
        <p>
            @Html.ActionLink("Cancel", "ViewParticipant", new { id = Model.ParticipantId })
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
