@model ESF.Core.Services.NewTeamMemberModel

@{
    ViewBag.Title = "Add Team Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Team Member</h2>

@ViewBag.Message

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NewTeamMemberModel</legend>

		@Html.HiddenFor(x => x.SportEventTeamId)

        @if (ViewData.Model.ParticipantAlreadyExists)
        { 
            <div class="editor-label">
                @Html.LabelFor(model => model.AddExistingParticipant, "Add Existing Participant")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AddExistingParticipant)
                @Html.ValidationMessageFor(model => model.AddExistingParticipant)
            </div>
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName, "First Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName, "Last Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress, "Email Address")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDay, "Birth Day")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDay)
            @Html.ValidationMessageFor(model => model.BirthDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthMonth, "Birth Month")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BirthMonth", (IEnumerable<SelectListItem>)ViewBag.Months)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthYear, "Birth Year")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthYear)
            @Html.ValidationMessageFor(model => model.BirthYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Gender", (IEnumerable<SelectListItem>)ViewBag.Genders)
        </div>

        <p>
            <input type="submit" value="Add New Team Member" />
        </p>
            
		@Html.ActionLink("Cancel","ManageTeam",new {sportEventTeamId = Model.SportEventTeamId})
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
