@model IList<ESF.Core.Services.ScheduledSportEventDetail>

@{
    ViewBag.Title = "SignUpGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign Up Grid</h2>

<script type="text/javascript">

	$.fn.ToggleEnabledStates = function (src) {

		var idString = src.attr("overlappingeventids");

		$.each(idString.split(","), function (targetIndex, targetItem) {

			var target = $("#" + targetItem);

			if (src.is(":checked")) {
				target.attr("disabled", "disabled");
			} else {

				var enableTarget = true;
				var targetOverLappingEventIds = target.attr("overlappingeventids");

				$.each(targetOverLappingEventIds.split(","), function (overlappingIndex, overlappingItem) {
					var overlappingEvent = $("#" + overlappingItem);
					if (overlappingEvent.is(":checked")) {
						enableTarget = false;
						return false;
					}
				});

				if (enableTarget) {
					target.removeAttr("disabled");
				}
			}
		});
	};

</script>

@ViewBag.SportEventSignUpMessage

@using (Html.BeginForm()) {
	@Html.Hidden("participantId", (Guid)ViewBag.ParticipantId)
    <ul style="list-style-type: none; padding:0; margin:0;">
        @foreach (var period in ViewBag.Periods)
        {
            <li style="width: 20%;">
                <span>@period</span>
                <ul style="list-style-type: none; padding:0; margin:0;">
                    @foreach (var sportEvent in Model.Where(s => s.DayAndTimePeriod == period))
                    {

                        var disabled = !sportEvent.IsSelectable ? "disabled" : null;
						
                        <li><input type="checkbox" id="@sportEvent.ScheduledSportEventId" name="@sportEvent.ScheduledSportEventId" checked="@sportEvent.CurrentParticipantAlreadySignedUp" disabled="@disabled" onclick="$(this).ToggleEnabledStates($(this))" overlappingeventids="@sportEvent.OverLappingEventIds"/><label>@sportEvent.ScheduledSportEventName</label></li>
                    }	
                </ul>
            </li>
        }
    </ul>
    <p>
        <input type="submit" value="Sign Up" />
    </p>
	<p>
		@Html.ActionLink("Cancel", "ViewSportsEvents", "SportsEvent", new { id = ViewBag.ParticipantId }, null)
	</p>	
}