@model IList<ESF.Core.Services.ScheduledSportEventDetail>

@{
    ViewBag.Title = "SignUpGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign Up Grid</h2>

<script type="text/javascript">

	$.fn.ToggleEnabledStates = function (src, idstring) {
		$.each(idstring.split(","), function (index, item) {
			var target = $(item);
			if (src.is(":checked")) {
				//alert("presence of disabled attribute is " + (typeof target.attr("disabled") != "undefined"));
				target.attr("disabled", true);
				//alert("presence of disabled attribute is " + (typeof target.attr("disabled") != "undefined"));
			} else {
				//alert("presence of disabled attribute is " + (typeof target.attr("disabled") != "undefined"));
				target.removeAttr("disabled");
				//alert("presence of disabled attribute is " + (typeof target.attr("disabled") != "undefined"));
			}
		});
	};

</script>

<ul style="list-style-type: none; padding:0; margin:0;">
    @foreach (var period in ViewBag.Periods)
	{
			<li style="width: 20%;">
                <span>@period</span>
                <ul style="list-style-type: none; padding:0; margin:0;">
                    @foreach(var sportEvent in Model.Where(s => s.DayAndTimePeriod == period))
                    {

                        var disabled = !sportEvent.IsSelectable ? "disabled" : null;
						
                        <li><input type="checkbox" id="@sportEvent.ScheduledSportEventId" name="@sportEvent.ScheduledSportEventId" checked="@sportEvent.CurrentParticipantAlreadySignedUp" disabled="@disabled" onclick="$(this).ToggleEnabledStates($(this),'@sportEvent.OverLappingEventIds')"/><label>@sportEvent.ScheduledSportEventName</label></li>
                    }	
                </ul>
            </li>
	}
</ul>