@using ESF.Commons.Utilities
@model IEnumerable<ESF.Core.Services.SportEventParticipantModel>

@{
    ViewBag.Title = "View Sports Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Sports Events</h2>
<p>
    @ViewBag.Message
</p>
<table>
    <tr>
        <th>
            Sport Event
        </th>
        <th>
            Team Allocation Status
        </th>
        <th>
            Team Name
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledSportEventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamAllocationStatusString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @if(item.IsTeamCaptain)
            {
				@Html.ActionLink("Manage Team", "ManageTeam", new { sportEventTeamId = item.SportEventTeamId })
            }
            else if(item.TeamAllocationStatusString != TeamAllocationStatus.NotApplicable.GetStringValue())
            {
				@Html.ActionLink("Change Team Allocation Status", "SportEventTeamSelect", new { id = item.ScheduledSportEventParticipantId })
			}
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Back to Details", "ViewParticipant", "Participant", new { id = ViewBag.ParticipantId }, null)
</p>
<p>
    @Html.ActionLink("Sign Up for a Sports Event", "SignUp", "SportsEvent", new { id = ViewBag.ParticipantId }, null)
</p>
