@using ESF.Commons.Utilities
@model IEnumerable<ESF.Core.Services.SportEventParticipantModel>

@{
    ViewBag.Title = "View Sports Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Sports Events</h2>
<p>
    @ViewBag.Message
</p>
<table>
    <tr>
        <th>
            Sport Event
        </th>
        <th>
            Team Allocation Status
        </th>
        <th>
            Team Name
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledSportEventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamAllocationStatusString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @if(item.IsTeamCaptain)
            {
                @Html.ActionLink("Manage Team", "ManageTeam", new { sportEventTeamId = item.SportEventTeamId })
            }
            else if(item.TeamAllocationStatusString != TeamAllocationStatus.NotApplicable.GetStringValue())
            {
                @Html.ActionLink("Change Team Allocation Status", "SportEventTeamSelect", new { id = item.ScheduledSportEventParticipantId })
            }
        </td>
        <td>
            @if(item.CanBeDeleted)
            {
				@Html.ActionLink("Delete Sport", "DeleteSportEventParticipation", new { participantId = ViewBag.ParticipantId, scheduledSportEventParticipantId = item.ScheduledSportEventParticipantId })
            }
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Sign Up for a Sports Event", "SignUpGrid", new { id = ViewBag.ParticipantId })
</p>

<p>
    @Html.ActionLink("Next", "ViewEntertainment", "Entertainment", new { id = ViewBag.ParticipantId }, null)
</p>
